<h1>Regiestunden Erfassung</h1>

<form [formGroup]="timeRecordingForm" (ngSubmit)="onSubmit()">

  <label>
    Kunde / Revier:
    <input type="text" formControlName="customerName">
  </label>

  <label>
    Art der Arbeit
    <input type="text" formControlName="workDescription">
  </label>

  <label>
    Zeit
    <input type="text" formControlName="time">
  </label>

  <div formArrayName="aliases">
    <div *ngFor="let address of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label>
        Kunde / Revier
        <input type="text" [formControlName]="i">
      </label>
      <label>
        Art der Arbeit
        <input type="text" [formControlName]="i">
      </label>
      <label>
        Dauer in Stunden
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>

<br>
<br>
<br>

<button (click)="aliases">Get Aliases</button>
<button (click)="addAlias()">Add Aliases</button>
