  <h1>Regiestunden Erfassung</h1>
  <form>
    <div class="form-group">
      <label for="date">Datum</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="workDescription">Art der Arbeit</label>
      <input type="text" class="form-control" id="workDescription">
    </div>

    <div class="form-group">
      <label for="workingTime">Stunden</label>
      <input type="text" class="form-control" id="workingTime">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
