.sub-nav
  height: 50px
  background: #fff
  display: -ms-flexbox
  display: flex
  -ms-flex-pack: justify
  justify-content: space-between
  -ms-flex-align: center
  align-items: center
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.12)

.sub-nav-btn
  height: 50px
  width: 50px
  background-color: #fff
  border: none
  &:hover
    cursor: pointer
    color: grey

.navigate-before-icon
  margin-top: 6px
  margin-left: 6px
  font-size: 38px

.order-complete-icon
  margin-top: -6px
  margin-right: 21px
  font-size: 34px

.order-completed
  color: #1c9021

#detail-component-content
  margin: 30px

th
  display: none

td
  border-top: 0px

#record-form
  margin-top: 40px

#add-record-btn
  position: absolute
  bottom: 16px
  right: 16px
  background-color: #5fb345

#customer-info
  margin-bottom: 30px
  tr
    td
      padding-left: 10px


.table-responsive-stack
  tr
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -ms-flex-direction: row
    flex-direction: row
  th
    display: none
  td
    display: block
    /*
     flex-grow | flex-shrink | flex-basis */
    -ms-flex: 1 1 auto
    flex: 1 1 auto


.mat-table
  overflow: auto
  max-height: 500px
  padding-bottom: 20px

.mobile-label
  display: none

#create-record-btn
  background-color: #5fb345
  position: absolute
  right: 16px
  bottom: 16px

#order-details-header
  margin: auto
  height: 60px
  width: 90%
  box-shadow: 1px 7px 24px -4px rgba(0, 0, 0, 0.61)
  margin-top: 20px

#contact-person
  margin-left: 20px

#customer
  margin-left: 12px

#location
  margin-left: 34px

@media screen and (max-width: 576px)
  .table-responsive-stack
    tr
      -webkit-box-orient: vertical
      -webkit-box-direction: normal
      -ms-flex-direction: column
      flex-direction: column
      display: block
    td
      float: left\9
      width: 100%

  .mobile-label
    width: 140px
    display: inline-block
    font-weight: bold
  .mat-header-row
    display: none
  .mat-row
    flex-direction: column
    align-items: start
    padding: 8px 24px

  mat-cell:first-of-type, mat-header-cell:first-of-type
    padding-left: 0px
