<div id="detail-component-wrapper">
  <div class="sub-nav">
    <div class="sub-nav-btn">
      <mat-icon (click)="navigateToOrderList()" class="navigate-before-icon float-left">navigate_before</mat-icon>
    </div>

    <button type="button" class="sub-nav-btn" (click)="documentEditForm.ngSubmit.emit()" [disabled]="!documentEditForm.form.valid">
      <mat-icon class="order-complete-icon float-right">check</mat-icon>
    </button>
  </div>

  <div id="detail-component-content">
    <div class="customer-info">
      Kunde: {{ order?.companyName }} / Ansprechpartner: {{ order?.contactPerson }} / Ort: {{ order?.location }}
    </div>

    <form id="record-form" [formGroup]="timeRecordForm" #documentEditForm="ngForm" (ngSubmit)="onSubmit()">
      <div formArrayName="time_records">
        <table class="table">
          <th *ngFor="let col of columns">
            {{col}}
          </th>
          <tr *ngFor="let item of timeRecords.controls | sortFormArrayByDate: 'date'; let pointIndex = index" [formGroupName]="pointIndex" data-id="{{item.value.id}}">
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Datum wählen" id="date" name="date"
                  formControlName="date" (click)="picker.open()" autocomplete="off" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput formControlName="description" placeholder="Art der Arbeit" autocomplete="off" required />
                <mat-error *ngFor="let validation of form_validation_messages.description">
                  <mat-error class="error-message" *ngIf="item.controls.description.hasError(validation.type) && (item.controls.description.dirty || item.controls.description.touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput type="number" step="0.25" formControlName="workingHours" placeholder="Arbeitsstunden"
                  autocomplete="off" required />
                <mat-error *ngFor="let validation of form_validation_messages.time">
                  <mat-error class="error-message" *ngIf="item.controls.time.hasError(validation.type) && (item.controls.time.dirty || item.controls.time.touched)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <button type="button" mat-icon-button>
                <i class="material-icons" (click)="deleteFormGroup(item.value.id, pointIndex)">
                  delete
                </i>
              </button>
            </td>
          </tr>
        </table>
      </div>
      <input type="text" readonly="true" value="{{totalTime}}" class="float-right">
    </form>
    <button type="button" mat-fab class="add-record-btn float-left disabled" (click)="addEmptyControl()">
      <i class="material-icons">add</i>
    </button>
  </div>
</div>
