<app-header titleInput="Login"></app-header>

<div class="sub-nav row">
  <div class="col-10"></div>
  <div class="col-2"></div>
</div>

<div id="sign-in-component-wrapper" class="row no-gutter">
  <div class="col-12">
    <div id="sign-in-form-wrapper" class="row no-gutter">
      <div class="col-12">
        <div id="sign-in-wrapper">
          <div>
            <form [formGroup]="passwordForm" (ngSubmit)="submit()">
              <p>
                <mat-form-field>
                  <input
                    type="text"
                    matInput
                    placeholder="Bitte Email eingeben"
                    formControlName="email"
                    autocomplete="on"
                  />
                </mat-form-field>
              </p>

              <p>
                <mat-form-field>
                  <input
                    matInput
                    placeholder="Bitte Passwort eingeben"
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                    autocomplete="on"
                    required
                  />
                  <mat-icon matSuffix (click)="hide = !hide">{{
                    hide ? 'visibility_off' : 'visibility'
                  }}</mat-icon>
                  <mat-hint *ngIf="!passwordInput.value"
                    >Passwort eingeben</mat-hint
                  >
                </mat-form-field>
              </p>

              <p *ngIf="error" class="error">
                {{ error }}
              </p>

              <div class="button">
                <button mat-raised-button type="submit" mat-button>
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
