<app-header titleInput="Aufträge"></app-header>
<div id="order-list-content-wrapper">
  <div class="sub-nav">
    <input
      id="search"
      #searchvalue
      (keyup)="applyFilter($event.target.value)"
      placeholder="Suchen"
      type="text"
    />
    <div class="third-wrap"><mat-icon>search</mat-icon></div>
  </div>

  <div id="order-list-content">
    <p
      *ngIf="searchvalue.value != 'search here...' && searchvalue.value != ''"
    ></p>

    <table matSort mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
        <td mat-cell *matCellDef="let order">
          {{ order?.date.seconds * 1000 | date: 'dd.MM.yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="customer">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Kunde</th>
        <td mat-cell *matCellDef="let order">{{ order.companyName }}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Ort</th>
        <td mat-cell *matCellDef="let order">{{ order.location }}</td>
      </ng-container>

      <ng-container matColumnDef="detail">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Icon</th>
        <td mat-cell *matCellDef=""><mat-icon>navigate_next</mat-icon></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="highlighted.toggle(row); showActionButtons(row)"
        [ngClass]="{
          hovered: row.hovered,
          highlighted: highlighted.isSelected(row)
        }"
      ></tr>
    </table>

    <h5 id="no-orders-found" *ngIf="dataSource.data.length === 0">
      Keine Aufträge gefunden
    </h5>
  </div>
</div>
<div id="bottom-nav">
  <div *ngIf="showButtonsIfOrderIsSelected">
    <button
      type="button"
      id="create-order-watch-btn"
      type="button"
      mat-fab
      (click)="navigateToOrder(this.selectedOrder)"
    >
      <i class="material-icons">visibility</i>
    </button>
  </div>
  <div *ngIf="showButtonsIfOrderIsSelected">
    <button
      type="button"
      id="create-order-edit-btn"
      type="button"
      mat-fab
      (click)="editOrder(this.selectedOrder)"
    >
      <i class="material-icons">edit</i>
    </button>
  </div>

  <div *ngIf="showButtonsIfOrderIsSelected">
    <button
      *ngIf="showButtonsIfOrderIsSelected"
      type="button"
      id="create-order-delete-btn"
      type="button"
      mat-fab
      (click)="deleteOrder(this.selectedOrder)"
    >
      <i class="material-icons">delete</i>
    </button>
  </div>

  <button
    type="button"
    id="create-order-btn"
    type="submit"
    mat-fab
    class="float-right"
    (click)="navigateToCreateOrder()"
  >
    <i class="material-icons">add</i>
  </button>
</div>
