<div id="order-list-wrapper">
  <div class="sub-nav">
    <input
      id="search"
      #searchvalue
      (keyup)="applyFilter($event.target.value)"
      placeholder="Suchen"
      type="text"
    />
    <div class="third-wrap"><mat-icon>search</mat-icon></div>
  </div>

  <div id="order-list-content">
    <p *ngIf="searchvalue.value != 'search here...' && searchvalue.value != ''"></p>
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="customer">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Kunde</th>
        <td mat-cell *matCellDef="let order">{{ order.companyName }}</td>
      </ng-container>

      <ng-container matColumnDef="contactPerson">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Ansprechpartner</th>
        <td mat-cell *matCellDef="let order">{{ order.contactPerson }}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Ort</th>
        <td mat-cell *matCellDef="let order">{{ order.location }}</td>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Icon</th>
        <td mat-cell *matCellDef=""><mat-icon>navigate_next</mat-icon></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="getRecord(row)"></tr>
    </table>

    <h5 id="no-orders-found" *ngIf="dataSource.data.length === 0">Keine Aufträge gefunden</h5>


  </div>
</div>
<div id="bottom-nav">
    <button
    type="button"
    id="create-order-btn"
    type="submit"
    mat-fab
    class="float-right"
    (click)="navigateToCreateOrder()"
  >
    <i class="material-icons">add</i>
  </button>
</div>
