#order-list-table
  margin-top: 4%

#list-table
  width: 80%
  td
  a
    display: block
    width: 100%

.order-list-item
  padding-bottom: 8%
  mat-list-item
    border-bottom: solid #EFF1F3 1px

.place
  font-size: 90%;
  margin-right: 2%;

.add-record-btn
  background-color: #66bb6a
