<app-header titleInput="Bearbeiten"></app-header>

<div class="sub-nav row">
  <div class="col-10">
    <div type="button" class="nav-before-btn" (click)="navigateToOrderList()">
      <mat-icon>navigate_before</mat-icon>
    </div>
  </div>
  <div class="col-2">
    <div
      type="button"
      class="save-btn"
      (click)="documentEditForm.ngSubmit.emit()"
    >
      <mat-icon>save</mat-icon>
    </div>
  </div>
</div>

<div id="edit-record-component-wrapper" class="row no-gutter">
  <div class="col-12">
    <div id="edit-record-form-wrapper" class="row no-gutter">
      <div class="col-12">
        <form
          id="edit-record-form"
          [formGroup]="editRecordForm"
          #documentEditForm="ngForm"
          (ngSubmit)="onSubmit()"
        >
          <fieldset class="form-group">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Datum wählen"
                id="date"
                name="date"
                formControlName="date"
                (click)="picker.open()"
                autocomplete="off"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </fieldset>

          <fieldset class="form-group">
            <mat-form-field>
              <input
                matInput
                formControlName="description"
                placeholder="Art der Arbeit"
                autocomplete="off"
                required
              />
            </mat-form-field>
          </fieldset>

          <fieldset class="form-group">
            <mat-form-field>
              <input
                matInput
                type="number"
                step="0.25"
                formControlName="workingHours"
                placeholder="Arbeitsstunden"
                autocomplete="off"
                required
              />
            </mat-form-field>
          </fieldset>

          <fieldset class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Arbeiter auswählen</mat-label>
              <mat-select formControlName="employee" multiple>
                <mat-option
                  *ngFor="let employee of employees"
                  [value]="employee.value"
                >
                  {{ employee.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
